language: minimal
sudo: required
services:
- docker
before_install:
- openssl aes-256-cbc -K $encrypted_cdbe4333a8fb_key -iv $encrypted_cdbe4333a8fb_iv
  -in ./build/daemon.json.enc -out ./build/daemon.json -d
- sudo cp ./build/daemon.json /etc/docker/daemon.json
- sudo systemctl restart docker.service
- docker info
- sudo netstat -ntlp | grep LISTEN
env:
  global:
  - ALLOW_FAILURES=false
  - DOCKER_HUB_USER=krates
  - secure: jynmOuUrckK4KSGKWz4Mv2xWogWUtA2DzbLhtOSsyuSMxKbr8ECdJCkTenh33X7KZg1GukmGX1UyJ1ff3Rp2STzQwkUsGECf7q0kO+s+oEmWBPcaE30n/tMARXziyNEU811txNl8tzS0xegsfYdcoqhT9IrYrd+zJExdr775dmOiaViLHfCoOK3nHvVCU4zxIS1EDlirb3g2vWvHk7jQTiwVwsaHVELW1CtCn/PzQankOoXzy4YzsDh6BKhyWnoqO9pRqYwvPZYpa9vg8JFBk1P7qBuAn2losmOsS0Q4YAXZuXkWJ8+uGfb58dOUqyCYHYqOs3rzJp36RJTb55HSsedIkX6PJt9MEl4gRgdCBuShJR9vYP0YqwvzXttq5bK2jnolQ6XP+fS2SjLWW5exkUWGTciiCWEFVL8vbCX2xK3fT1wcuMoGato6Rs2aoeqKrd9Q/r98D5MAdbstwa/GmH0/6vwO94ZPuqg1eJ7ZvRaARFQRybmwBAJ9xf+zXXF4IFKoUi6F+BISdss3y8xM5leD/UJmesfe2VJ58Mg3DRM3cBaMNU3lsMsBJiV/OIYonwu9TOtHmjPbvpLQpIaahLXieuaWOQScIvHCPvrutvtkucZ4pmh9idyLoPNeObFsQYpkFPpTCLBVSSq1toC+pKi8EDGs6Vb4DT/ZWG4UFPY=
  - secure: Hikver3zBFlMvDDE+q9FDBt3ebZsL/fTIJXaTTICarauW9vBmlVxMc4rCQaSiBtPt4a71dyuUjCg0sa4B2zpY1+yNsvgCmg856mWJ8hrdZ5BPbxWrENqG1RD6yDah1XRtxExAmFa4GSZhp8AjoSVJmDEPJxZEqSRFFU92G4WbUcKBojkLpXHHR3BcYu4iz0i3oB3oUEvFS9f6EKJouWkCo0JeAMLzUOdIPMityr+h1AeAajCLL3K0jY+U0EFPrqhRafICx+GE2Z41TThKoXWTv8TGD//HapZpkGvu/v6CIUS85CY43FJqKj0IDLt623lByDLbmfipdESnPPLqEkirRjUa05MqCz5lv7RYB1oDR5QuqvcxI1v4MPD/43aKUGwJ5VfRHm+uRyPXXfTvvV6Ul7bblKuzY/p/yZn0x2zGKXTapgu3zI/yo38Ilz/Uo1mE1W2MPGZG8j/ZcWrTF+fQ9Mhm6jx/+KjnWSZCl2Ab26O4BseaE3rCgz+umsmcgtKjjadZilw3KsJUHCbUwB4D3BlYUglf4qEdL+rE3semgWQSm9LNZHLAUsgVQ81a9IGETzyfXToWjjMw4qdyawhpe4ffigWlkxofv1VgdsZo0DBVMbTRkwrBn3kYQUUNZ4ZwX+uW9grvMkWHTWDxX/C8Xa0rQDZqgkKWQdlXQ70AkE=
  
  - secure: "WeS+22YoT7iAYUneadQdZ3PN0GsNGj2tS9fPP6HFgrhmLC2HMxcRkC1O/uy8WDymJdNTwk4b9B/zYv5k8ksspUyRVvs6dD7KJfdKgO9DAcs+l5E+UjeQJrzaHTyjLIUOhIi9fl7kha8jU1yoMVdmdaGG7q+Ksav13lN5lHKp1vBclGwHmTyBQ35LtYUeGPpJuqQBb+OJizZ40BP5+M+U/oWQajrub6BUU/4V0v2plck9T+ZguraMce6CAfRwe0DkSiYMPpsLGbeLf+VhuL83z8C5ctZ46ywOcXsaZV1D5AWezEMaxjL11hHxdGmQYDr75JQF1kf4XgjpNrtXG8YAp4fglJRjcOCtbqiW/dcBJzvuVevCfeB7HbxxYSf8vkj2polq1ziuBkaaxQ6nsi4A8SSfI7RKeahvXGDLBHJR3ecCzM2QCk8T98Y1m62lU1HWvsTfdRM3gdZYlq815gHIx+P/n90J/e1CJD8QpiwgmOlpj2YujVByVHzue7vUlacMBK9y5vF8yCr9HoJlF1gYsM+9CRqALhjM3htOf8FgheSClMCfvtjKnkntUndPZLQbvCXlllDdlRP/jirQ7FjJcefxYGWMUlQ3a0IsF+6pjN2rNJEFL7qCpFd7793OX6IL4E9s7gzmfHcJewk0Ny3ORCGr5couD9N0F8Hd+xVVv5s="
stages:
- name: test
- name: test e2e
  if: type = pull_request OR type = cron
- name: deploy gem
  if: tag IS present
- name: deploy images
  if: tag IS present
jobs:
  fast_finish: true
  allow_failures:
  - env:
    - TEST_DIR=cli
    - ALLOW_FAILURES=true
  include:
  - stage: test
    script: make cmd
    env: CMD=y
  - stage: test
    script: make worker
    env: WORKER=y
  - stage: test
    script: make master
    env: MASTER=y
  - stage: test e2e
    script: make integration
    env: INTEGRATION=y
  - stage: deploy gem
    script: make publish_cmd
    tags: true
  - stage: deploy images
    script: make publish_images
    tags: true
