development:
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] || 'mongodb://localhost:27017/krates_development' %>
      options:
        max_pool_size: 25
  options:
    use_utc: true
    raise_not_found_error: false
    belongs_to_required_by_default: false
test:
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] || 'mongodb://localhost:27017/krates_test' %>
      options:
        max_pool_size: 25
        write:
          w: 1
  options:
    use_utc: true
    raise_not_found_error: false
    belongs_to_required_by_default: false
production:
  clients:
    default:
      options:
        max_pool_size: 40
        write:
          w: 1
        ssl_verify: <%= ENV['MONGODB_SSL_VERIFY'] || true %>
        <% if ENV['MONGODB_SSL_CA_CERT'] %>
        ssl_ca_cert: <%= ENV['MONGODB_SSL_CA_CERT'] %>
        <% end %>
      uri: <%= ENV['MONGODB_URI'] || ENV['MONGOHQ_URL'] %>
  options:
    use_utc: true
    raise_not_found_error: false
    belongs_to_required_by_default: false
